/.env
/data/
/app_bk.zip
/app/temp/reports/*.docx
/app/temp/uploads/*
/app/data/analysis_json/*
/terraform/
/.roo/
terraform/terraform.tfvars
/.clinerules/AWS Profile and Conda Env: anova.md
/config/.env
/app/tests/app/data/analysis_json/
